body {
	font-size: 0.875rem;
	font-family: "Nunito", sans-serif !important;
}

.feather {
	width: 16px;
	height: 16px;
	vertical-align: text-center;
}

/*
 * Sidebar
 */

.sidebar {
	position: fixed;
	top: 2rem;
	/* rtl:raw:
  right: 0;
  */
	bottom: 0;
	/* rtl:remove */
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 48px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
	.sidebar {
		top: 6rem;
	}
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: 0.5rem;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
	font-weight: 400;
	color: #a7c4bc;
}

.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #a7c4bc;
}

.sidebar .nav-link.active {
	color: #2f5d62;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
	color: inherit;
	font-weight: bold !important;
}

.sidebar-heading {
	font-size: 0.75rem;
	text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar {
	background-color: #2f5d62 !important;
}

.navbar-brand {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-size: 1rem;
	color: #fff !important;
	/* box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25); */
}

.navbar .navbar-toggler {
	padding: 0rem 0.25rem;
	color: #2f5d62 !important;
	top: 0.25rem;
	right: 1.25rem;
}

.navbar .form-control {
	padding: 0.5rem 1rem;
	border-width: 0;
}

.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.navbar .signout {
	font-weight: 400;
	color: #fff !important;
}

.main .page-header .header {
	color: #34656d;
}

.main .page-header .sub-header {
	color: #aaa;
}

.card .card-header .table-name {
	color: #206a5d;
}
